.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 50px;
  a {
    text-decoration: none;
    color: #123456;
    &:hover {
      text-decoration: underline;
    }
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  margin: 20px 0;
  
  input {
    display: block;
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
  }

  textarea {
    height: 100px;
  }
}

button {
  width: 100px;
  height: 30px;
}
.post-form{
  width: 60%;
  margin: 0 auto;
  .input-wrapper{
    width: 100%;
    >input{
      width: 80%;
      margin: 0 auto;
      font-size: 16px;
    }
  }
}

.post-list {
  width: 60%;
  margin: 10px 0;
  .post-item {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,.05);

    h2 {
      margin: 0 0 10px;
    }
    .title-wrapper{
      position: relative;
      border-bottom: 1px dashed #ccc;
      .buttons{
        display: flex;
        position: absolute;
        top: 0;
        right: 5px;
        >span{
          display: flex;
          align-items: center;
          margin-right: 20px;
          font-size: 16px;
        }
      }
      .icon{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        cursor: pointer;
        opacity: 0.7;
        &:hover{
          opacity: 1;
        }
        &.like-icon{
          background: url('../assets/like.svg') no-repeat;
          background-size: 20px;
        }
        &.dislike-icon{
          background: url('../assets/like.svg') no-repeat;
          background-size: 20px;
          margin-top: 7px;
          transform: scale(-1,-1);
        }
      }
    }
    .comment-list {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      margin-top: 10px;
      .comment-list-title {
        margin-bottom: 10px;
        font-weight: 600;
      }
      p {
        margin: 5px 0;
        font-size: 14px;
        &:before{
          content: '*';
        }
      }
      .comment-button {
        align-self: flex-end;
      }
      .form-wrapper{
        .input-wrapper{
          width: 100%;
          textarea{
            width: 100%;
          }
        }
      }
    }
  }
}